# Python
__pycache__/
*.py[cod]
*$py.class
*.so

*.csv
*.zip

# Environments
.env
.venv
venv/
ENV/

# IDEs
.idea/
.vscode/
*.swp

# Logs
*.log

# Rust
rust/target/

# OS
.DS_Store
Thumbs.db

.bash

dados/foto_cand*
dados/fotos/
dados/
bweb/